<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Olá {{this.user.username}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav>

<div class="form-style-8">
  <h2>Nova tarefa</h2>
  <form action="/perfil" method="POST">
    <input type="hidden" name="_id" value="{{_id}}">
    <input type="text" name='title' placeholder='Digite o titulo' />
    <input type="text" name='description' placeholder="Digite a descricao da tarefa" />

    <label>Tipo da tarefa:</label>
      <select name="types">
        <option value="Briefing">Briefing</option>
        <option value="Analise">Analise</option>
        <option value="Desenvolvimento">Desenvolvimento</option>
        <option value="Aprovação">Aprovação</option>
        <option value="Refação">Refação</option>
      </select>

      <label>Status da tarefa:  </label>
      <select name="states">
        <option value="Backlog">Backlog</option>
        <option value="Fazendo">Fazendo</option>
        <option value="Feito">Feito</option>
    </select>

    <button type="submit">Criar</button>
  </form>
</div> 

<div>  
  {{#each this.tasks}}
    <br>
    <p>Titulo: {{title}}</p>
    <p>Descriação: {{description}}</p>
    <p>Criador: {{owner}}</p>
    <p>Tipo da tarefa: {{types}}</p>
    <p>Status da tarefa: {{states}}</p>
    <button type="submit"><a href="/task/{{_id}}">Edit</a></button>
    <button type="submit"><a href="/task/{{_id}}/delete">Apagar</a></button>
    <br>
    <br>    
  {{/each}}
</div>